* {
    margin: 0;
}
html, body {
    height: 100%;
    font-family: Arial, Helvetica, sans-serif;
}
/*
    Css signin, signup
*/

.bg-form {
    background: linear-gradient(180deg, rgba(75,207,250,1) 0%, rgba(85,228,68,1) 75%, rgba(139,239,53,1) 100%);
    height: 100%;
    align-items: center;
    display: flex;
    justify-content: center;
    color: #fff;
}

.layer-form {
    background-color: #0097e6;
    padding: 15px 50px;
    height: 50%;
    border-radius: 15px;
    text-align: center;
    line-height: 3;
}
.layer-form input {
    width: 100%;
    height: 20px;
    border: 0;
    background-color: #0097e6;
    border-bottom: 1px solid #fff;
}
.layer-form input:focus {
    outline: none;
    border-bottom: 2px solid #fff;
}
.layer-form input::placeholder {
    padding-left: 15px;
    color: #fff;
}
.layer-form button {
    padding: 7px 10px;
    border-radius: 5px;
    border: 0;
    background-color: #0a3d62;
    color: #fff;
}
.layer-form button:hover {
    background-color: #0c2461;
}
.layer-form a {
    color: #2f3640;
}

.formall{
    height: 60%;
    width: 30%;
}
.dashboard{
    margin: 0 auto;
    padding: 10px;
    background-color: #F72A2C;
    border-radius: 5px;
}

/*
    Css dashboard
*/

.main {
    display: flex;
}
.nav-bar {
    background-color: #1B9CFC;
    height: 100%;
    padding: 15px;
    box-sizing: border-box;
    position: fixed;
    width: 20%;
}
.content {
    position: absolute;
    right: 0;
    width: 80%;
    padding: 15px;
    box-sizing: border-box;
    background-color: #fff;
}
.nav-bar ul {
    list-style: none;
    color: #fff;
    padding: 0;
}
.nav-bar ul li {
    padding: 10px;
}
.nav-bar ul li:hover {
    background-color: #25CCF7;
}
.nav-bar ul a {
    text-decoration: none;
    color: #fff;
}
.manage {
    display: flex;
    justify-content: space-evenly;
    color: #fff;
    margin-bottom: 20px;
}
.manage  h2 {
    text-align: left;
    color: black;
}
.total-product {
    width: 30%;
    height: 100px;
    background-color: #EA2027;
    padding: 15px;
    box-sizing: border-box;
    text-align: center;
}
.wait-product {
    width: 30%;
    height: 100px;
    background-color: #F79F1F;
    padding: 15px;
    box-sizing: border-box;
    text-align: center;
}
.success-product {
    width: 30%;
    height: 100px;
    background-color: #009432;
    padding: 15px;
    box-sizing: border-box;
    text-align: center;
}
.block-heading {
    border-bottom: 4px solid #1B9CFC;
    margin-bottom: 20px;
    text-transform: uppercase;
    font-size: 24px;
}
.admin-main {
    display: flex;
    height: 500px;
}
.admin-left {
    flex: 50%;
    padding: 15px;
    box-sizing: border-box;
    border-right: 2px solid #1e90ff;
}
.admin-right {
    flex: 50%;
    padding: 15px;
    box-sizing: border-box;
}
.dev {
    color: #1e90ff;
    font-size: 24px;
}
.new-product input {
    width: 80%;
    height: 30px;
    margin-bottom: 15px;
}
.new-product input::placeholder {
    padding-left: 15px;
}
.desc {
    width: 80%;
    margin-bottom: 15px;
}
.option {
    height: 30px;
    background-color: #fff;
    width: 20%;
    margin-bottom: 15px;
}
.btn {
    padding: 8px 15px;
    border: 0;
    border-radius: 10px;
    color: #fff;
}
.post {
    background-color: #1B9CFC;
    float: right;
    margin-right: 20%;
}
.post:hover {
    background-color: #0652DD;
}
.manage-product {
    width: 20%;
    padding-bottom: 15px;
    box-shadow: 1px 1px 10px 5px #CCC;
    box-sizing: border-box;
    float: left;
    margin-right: 5%;
    margin-bottom: 20px;
}
.manage-product .thumb {
    width: 100%;
    height: 200px;
}
.manage-product .title {
    font-weight: bold;
    padding: 0px 15px;
}
.manage-product .price {
    color: red;
    padding: 0px 15px;
}
.manage-product .price-real {
    font-size: 14px;
    text-decoration: line-through;
}
.manage-product .promotion {
    padding: 0px 15px;
}
.manage-product .function {
    text-align: center;
    padding-bottom: 10px;
}
.btn-view {
    background-color: #1e90ff;
}
.btn-edit {
    background-color: #2ed573;
}
.btn-delete {
    background-color: #EA2027;
}
.manage-list-product {
    margin-inline-start: 2.5%;
}
.btn a {
    color: #fff;
    text-decoration: none;
}
.dataerror{
    border-radius: 10px;
    margin: 30px;
    padding: 10px;
    background-color: pink;
    color: rgb(216, 37, 37);
}
.datasuccess{
    border-radius: 10px;
    margin: 30px;
    padding: 10px;
    background-color: rgb(65, 182, 29);
    color: rgb(8, 71, 18);
}